In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("courses.csv")
df.head(3)

,Unnamed: 0,title,rating,completion_time,modules_number
0,0,Google Data Analytics Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
1,1,Google Cybersecurity Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
2,2,Google Project Management: Professional Certif...,4.8,Earn a career credential that demonstrates you...,6 course series

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       995 non-null    int64
 1   title            995 non-null    object
 2   rating           995 non-null    object
 3   completion_time  995 non-null    object
 4   modules_number   995 non-null    object
dtypes: int64(1), object(4)
memory usage: 23.4+ KB

In [5]:
df.describe()

       Unnamed: 0
count   995.00000
mean    497.00000
std     287.37606
min       0.00000
25%     248.50000
50%     497.00000
75%     745.50000
max     994.00000

In [7]:
df['rating'] = pd.to_numeric(df['rating'], errors='coerce') # ==> I got that from stackflow

In [16]:
df # ==> df = df.drop("Unnamed: 0", axis = 1, inplace=True)

,title,rating,completion_time,modules_number
0,Google Data Analytics Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
1,Google Cybersecurity Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
2,Google Project Management: Professional Certif...,4.8,Earn a career credential that demonstrates you...,6 course series
3,Google Digital Marketing & E-commerce Professi...,4.8,Earn a career credential that demonstrates you...,7 course series
4,Google IT Support Professional Certificate,4.8,Earn a career credential that demonstrates you...,5 course series
...,...,...,...,...
990,Positive Psychology: Applications and Interven...,4.8,Gain insight into a topic and learn the fundam...,4 modules
991,Microsoft PL-300 Exam Preparation and Practice,4.6,Gain insight into a topic and learn the fundam...,5 modules
992,Data Science Math Skills,4.5,Gain insight into a topic and learn the fundam...,5 modules
993,"Introduction to HTML, CSS, & JavaScript",4.5,Gain insight into a topic and learn the fundam...,4 modules
994,"Information Systems Auditing, Controls and Ass...",4.7,Gain insight into a topic and learn the fundam...,4 modules

In [23]:
df.loc[df.duplicated()] # ==> Some stupid python, we're sorry

,title,rating,completion_time,modules_number
500,Google Data Analytics Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
744,Google Data Analytics Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
851,A Crash Course in Causality: Inferring Causal...,4.7,Gain insight into a topic and learn the fundam...,5 modules
875,Machine Design Part I,4.8,Gain insight into a topic and learn the fundam...,5 modules
881,Introduction to Data Analytics,4.8,Gain insight into a topic and learn the fundam...,5 modules
889,Google Cybersecurity Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
901,Google Project Management: Professional Certif...,4.8,Earn a career credential that demonstrates you...,6 course series
906,Google UX Design Professional Certificate,4.8,Earn a career credential that demonstrates you...,7 course series
947,International Law in Action: A Guide to the In...,4.8,Gain insight into a topic and learn the fundam...,5 modules
948,Rust Programming Specialization,4.0,Get in-depth knowledge of a subject,5 course series
983,Google Advanced Data Analytics Capstone,4.9,Gain insight into a topic and learn the fundam...,3 modules
984,"Hotel Management: Distribution, Revenue and De...",4.7,Get in-depth knowledge of a subject,4 course series

In [19]:
df.isnull().sum()

title               0
rating             13
completion_time     0
modules_number      0
dtype: int64

In [27]:
df.loc[df['rating'].isnull()]

,title,rating,completion_time,modules_number
249,Renew your CBRS Professional Installer certifi...,NaN,Gain insight into a topic and learn the fundam...,7 modules
389,Developing Mobile Apps with React Native Speci...,NaN,Get in-depth knowledge of a subject,5 course series
502,Business Analyst (ECBA) Certificate Preparatio...,NaN,Get in-depth knowledge of a subject,3 course series
528,Introduction to 3D Printing with Metals,NaN,Gain insight into a topic and learn the fundam...,5 modules
601,Sustainable Corporate Finance,NaN,Gain insight into a topic and learn the fundam...,12 modules
648,GPU Programming Specialization,NaN,Get in-depth knowledge of a subject,4 course series
712,Product Owner Certification [PSPO I] Preparati...,NaN,Get in-depth knowledge of a subject,4 course series
837,DevOps and AI on AWS Specialization,NaN,Get in-depth knowledge of a subject,3 course series
871,Certified Associate in Project Management (CAP...,NaN,Get in-depth knowledge of a subject,3 course series
915,AI Agents: From Prompts to Multi-Agent Systems,NaN,Gain insight into a topic and learn the fundam...,5 modules
938,WordPress 101 - The Complete Guide,NaN,Gain insight into a topic and learn the fundam...,8 modules
959,Mastering Program Management: Strategy to Cert...,NaN,Get in-depth knowledge of a subject,3 course series
968,Superar el estr√É¬©s rompiendo mitos,NaN,Gain insight into a topic and learn the fundam...,6 modules

## `Quality`:
- `Consistency issue`: rating should be ==float instead of object(text) => Done üóø
- unnecessary column 'Unnamed: 0' => Done üëç
- `Completeness issue`: None values
- `Validity issue`: No issues (insha`Allah üóø)
- `Accuracy issue`: No issues (insha`Allah üóø)
## `Tidiness`:
- So tidy (Masha`Allah üóø)