In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('courses.csv')

In [5]:
df.head()

,Unnamed: 0,title,rating,completion_time,modules_number
0,0,Google Data Analytics Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
1,1,Google Cybersecurity Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
2,2,Google Project Management: Professional Certif...,4.8,Earn a career credential that demonstrates you...,6 course series
3,3,Google Digital Marketing & E-commerce Professi...,4.8,Earn a career credential that demonstrates you...,7 course series
4,4,Google IT Support Professional Certificate,4.8,Earn a career credential that demonstrates you...,5 course series

In [7]:
df.drop(columns='Unnamed: 0',inplace=True)

In [8]:
df.head()

,title,rating,completion_time,modules_number
0,Google Data Analytics Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
1,Google Cybersecurity Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series
2,Google Project Management: Professional Certif...,4.8,Earn a career credential that demonstrates you...,6 course series
3,Google Digital Marketing & E-commerce Professi...,4.8,Earn a career credential that demonstrates you...,7 course series
4,Google IT Support Professional Certificate,4.8,Earn a career credential that demonstrates you...,5 course series

In [16]:
def determining_type(df):
    list_of_amount = df.split(' ')
    return list_of_amount[1]
df['type'] = df['modules_number'].apply(determining_type)

In [17]:
df

,title,rating,completion_time,modules_number,type
0,Google Data Analytics Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series,course
1,Google Cybersecurity Professional Certificate,4.8,Earn a career credential that demonstrates you...,8 course series,course
2,Google Project Management: Professional Certif...,4.8,Earn a career credential that demonstrates you...,6 course series,course
3,Google Digital Marketing & E-commerce Professi...,4.8,Earn a career credential that demonstrates you...,7 course series,course
4,Google IT Support Professional Certificate,4.8,Earn a career credential that demonstrates you...,5 course series,course
...,...,...,...,...,...
990,Positive Psychology: Applications and Interven...,4.8,Gain insight into a topic and learn the fundam...,4 modules,modules
991,Microsoft PL-300 Exam Preparation and Practice,4.6,Gain insight into a topic and learn the fundam...,5 modules,modules
992,Data Science Math Skills,4.5,Gain insight into a topic and learn the fundam...,5 modules,modules
993,"Introduction to HTML, CSS, & JavaScript",4.5,Gain insight into a topic and learn the fundam...,4 modules,modules
994,"Information Systems Auditing, Controls and Ass...",4.7,Gain insight into a topic and learn the fundam...,4 modules,modules