In [69]:
import pandas as pd
import numpy as np

In [70]:
df = pd.read_csv('courses.csv')

In [71]:
df.head()

,Unnamed: 0,title,rating,level of course,modules_number
0,0,Google Data Analytics Professional Certificate,4.8,Beginner level,8 course series
1,1,Google Cybersecurity Professional Certificate,4.8,Beginner level,8 course series
2,2,Google Project Management: Professional Certif...,4.8,Beginner level,6 course series
3,3,Google Digital Marketing & E-commerce Professi...,4.8,Beginner level,7 course series
4,4,Google IT Support Professional Certificate,4.8,Beginner level,5 course series

In [72]:
df.drop(columns='Unnamed: 0',inplace=True)

In [73]:
df.head()

,title,rating,level of course,modules_number
0,Google Data Analytics Professional Certificate,4.8,Beginner level,8 course series
1,Google Cybersecurity Professional Certificate,4.8,Beginner level,8 course series
2,Google Project Management: Professional Certif...,4.8,Beginner level,6 course series
3,Google Digital Marketing & E-commerce Professi...,4.8,Beginner level,7 course series
4,Google IT Support Professional Certificate,4.8,Beginner level,5 course series

In [74]:
df

,title,rating,level of course,modules_number
0,Google Data Analytics Professional Certificate,4.8,Beginner level,8 course series
1,Google Cybersecurity Professional Certificate,4.8,Beginner level,8 course series
2,Google Project Management: Professional Certif...,4.8,Beginner level,6 course series
3,Google Digital Marketing & E-commerce Professi...,4.8,Beginner level,7 course series
4,Google IT Support Professional Certificate,4.8,Beginner level,5 course series
...,...,...,...,...
990,Data Science Math Skills,4.5,Beginner level,5 modules
991,"Introduction to HTML, CSS, & JavaScript",4.5,Beginner level,4 modules
992,"Information Systems Auditing, Controls and Ass...",4.7,Beginner level,4 modules
993,Fire and Life Safety Systems Specialization,4.7,Intermediate level,4 course series
994,Creative Designing in Power BI,4.5,Beginner level,4 modules

In [75]:
def type(df):
    list_of_strings = df.split(' ')
    return list_of_strings[1]

df['type'] = df['modules_number'].apply(type)

In [76]:
df

,title,rating,level of course,modules_number,type
0,Google Data Analytics Professional Certificate,4.8,Beginner level,8 course series,course
1,Google Cybersecurity Professional Certificate,4.8,Beginner level,8 course series,course
2,Google Project Management: Professional Certif...,4.8,Beginner level,6 course series,course
3,Google Digital Marketing & E-commerce Professi...,4.8,Beginner level,7 course series,course
4,Google IT Support Professional Certificate,4.8,Beginner level,5 course series,course
...,...,...,...,...,...
990,Data Science Math Skills,4.5,Beginner level,5 modules,modules
991,"Introduction to HTML, CSS, & JavaScript",4.5,Beginner level,4 modules,modules
992,"Information Systems Auditing, Controls and Ass...",4.7,Beginner level,4 modules,modules
993,Fire and Life Safety Systems Specialization,4.7,Intermediate level,4 course series,course
994,Creative Designing in Power BI,4.5,Beginner level,4 modules,modules

In [77]:
def first_position_in_strings(df):
    list_of_strings = df.split(' ')
    return list_of_strings[0]

df['number_of_courses/modules'] = df['modules_number'].apply(first_position_in_strings)
df['level of course'] = df['level of course'].apply(first_position_in_strings)

In [78]:
df

,title,rating,level of course,modules_number,type,number_of_courses/modules
0,Google Data Analytics Professional Certificate,4.8,Beginner,8 course series,course,8
1,Google Cybersecurity Professional Certificate,4.8,Beginner,8 course series,course,8
2,Google Project Management: Professional Certif...,4.8,Beginner,6 course series,course,6
3,Google Digital Marketing & E-commerce Professi...,4.8,Beginner,7 course series,course,7
4,Google IT Support Professional Certificate,4.8,Beginner,5 course series,course,5
...,...,...,...,...,...,...
990,Data Science Math Skills,4.5,Beginner,5 modules,modules,5
991,"Introduction to HTML, CSS, & JavaScript",4.5,Beginner,4 modules,modules,4
992,"Information Systems Auditing, Controls and Ass...",4.7,Beginner,4 modules,modules,4
993,Fire and Life Safety Systems Specialization,4.7,Intermediate,4 course series,course,4
994,Creative Designing in Power BI,4.5,Beginner,4 modules,modules,4

In [79]:
df.drop('modules_number',axis=1,inplace = True)

In [80]:
df

,title,rating,level of course,type,number_of_courses/modules
0,Google Data Analytics Professional Certificate,4.8,Beginner,course,8
1,Google Cybersecurity Professional Certificate,4.8,Beginner,course,8
2,Google Project Management: Professional Certif...,4.8,Beginner,course,6
3,Google Digital Marketing & E-commerce Professi...,4.8,Beginner,course,7
4,Google IT Support Professional Certificate,4.8,Beginner,course,5
...,...,...,...,...,...
990,Data Science Math Skills,4.5,Beginner,modules,5
991,"Introduction to HTML, CSS, & JavaScript",4.5,Beginner,modules,4
992,"Information Systems Auditing, Controls and Ass...",4.7,Beginner,modules,4
993,Fire and Life Safety Systems Specialization,4.7,Intermediate,course,4
994,Creative Designing in Power BI,4.5,Beginner,modules,4

In [81]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   title                      995 non-null    object
 1   rating                     995 non-null    object
 2   level of course            995 non-null    object
 3   type                       995 non-null    object
 4   number_of_courses/modules  995 non-null    object
dtypes: object(5)
memory usage: 39.0+ KB

In [82]:
def lowercase(df):
    return df.lower()

In [83]:
df['level of course'] = df['level of course'].apply(lowercase)
df['title'] = df['title'].apply(lowercase)

In [94]:
df = df[~df['rating'].isin(["What you'll learn", "Instructors",'Instructor'])]

df['rating'] = df['rating'].astype(float)

In [95]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 982 entries, 0 to 994
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   title                      982 non-null    object
 1   rating                     982 non-null    float64
 2   level of course            982 non-null    object
 3   type                       982 non-null    object
 4   number_of_courses/modules  982 non-null    object
dtypes: float64(1), object(4)
memory usage: 46.0+ KB

In [98]:
df['number_of_courses/modules'].value_counts()
df = df[~df['number_of_courses/modules'].isin(['Guided'])]

In [100]:
df['number_of_courses/modules'] = df['number_of_courses/modules'].astype(int)

In [101]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 981 entries, 0 to 994
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   title                      981 non-null    object
 1   rating                     981 non-null    float64
 2   level of course            981 non-null    object
 3   type                       981 non-null    object
 4   number_of_courses/modules  981 non-null    int32
dtypes: float64(1), int32(1), object(3)
memory usage: 42.2+ KB

In [102]:
df

,title,rating,level of course,type,number_of_courses/modules
0,google data analytics professional certificate,4.8,beginner,course,8
1,google cybersecurity professional certificate,4.8,beginner,course,8
2,google project management: professional certif...,4.8,beginner,course,6
3,google digital marketing & e-commerce professi...,4.8,beginner,course,7
4,google it support professional certificate,4.8,beginner,course,5
...,...,...,...,...,...
990,data science math skills,4.5,beginner,modules,5
991,"introduction to html, css, & javascript",4.5,beginner,modules,4
992,"information systems auditing, controls and ass...",4.7,beginner,modules,4
993,fire and life safety systems specialization,4.7,intermediate,course,4
994,creative designing in power bi,4.5,beginner,modules,4